
/* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* ************************************************************** */
    /* **************   General Rules for Sections   **************** */
    /* ************************************************************** */

    /* Section Title */
    .section__title {
        padding: 5px 15px;
        font-size: 1em;
        left: 25px;
    }


    /* ************************************************************** */
    /* **********************   Input Section   ********************* */
    /* ************************************************************** */

    /* Single User Input Option: (ZipCode) or (Latitude/Longitude) */
    .user__input {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    /* Single User Input: (ZipCode), (Latitude) or (Longitude) */
    .user__input span {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* Text Input Fields */
    .location__section div input[type="text"] {
        width: 70%;
    }


    /* ************************************************************** */
    /* ********************   Display Section   ********************* */
    /* ************************************************************** */

    /* Single Displayed Row */
    .row__displayed {
        flex-direction: row;
    }


    /* Single Displayed Item */
    .item {
        width: fit-content;
        justify-content: space-between;
    }


    /* Icon of the displayed Item */
    .item i {
        width: fit-content;
        margin-left: 0;
    }


    /* Displayed Temperature */
    #temp {
        width: 50%;
        justify-content: center;
    }


    /* ************************************************************** */
    /* *************************   Footer   ************************* */
    /* ************************************************************** */
    footer {
        padding: 0 30px;
        font-size: 1em;
    }


    /* Personal Contact Info */
    #contact__info {
        width: 100px;
    }
}
