/* Load Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    font-size: 1em;
    font-weight: 300;
}

i[class^="fa"] {
    margin-right: 10px;
}

/* ************************************************************** */
/* *************************   Header   ************************* */
/* ************************************************************** */
header {
    width: 100%;
    height: 10vh;

    background-color: #2c4755;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Page Main Title */
header h1.headline {
    color: #ffffff;
    font-size: 2em;
    font-weight: 400;
    text-transform: capitalize;
}

/* ************************************************************** */
/* **************   General Rules for Sections   **************** */
/* ************************************************************** */
main {
    height: 80vh;

    margin: 0 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
}

section.section__container {
    border-color: #2c4755;
    border-style: solid;
    border-radius: 10px;

    margin-top: 25px;
    padding: 20px;

    position: relative;
}

section h2.section__title {
    border-color: #ffffff;
    border-style: none solid;

    background-color: #2c4755;
    color: #ffffff;
    padding: 5px 15px;

    font-size: 1em;
    font-weight: 300;
    text-transform: capitalize;

    position: absolute;
    top: -20px;
    left: 25px;
}

section.holder,
section h2.section__title {
    border-width: 5px;
}

main div#user__inputs__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
}

/* ************************************************************** */
/* ********************   Zipcode Section   ********************* */
/* ************************************************************** */
section.location__section {
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

section.location__section input,
section.feeling__section textarea {
    color: #2c4755;

    padding: 10px;
    border: 2px solid #2c4755;

    border-radius: 10px;
}

section.location__section input[type='radio'],
section.location__section div label {
    cursor: pointer;
}

section.location__section div input[type='text']:enabled {
    background: inherit;
    cursor: auto;
}

section.location__section div input[type='text']:disabled {
    background: #dddddd;
    cursor: not-allowed;
}

/* ************************************************************** */
/* ********************   Feeling Section   ********************* */
/* ************************************************************** */
section.feeling__section {
    width: fit-content;
}

/* ************************************************************** */
/* ********************   Generate Button   ********************* */
/* ************************************************************** */
main button {
    background-color: #2c4755;
    color: #ffffff;

    font-weight: 600;

    width: fit-content;
    padding: 5px;
    align-self: center;

    border: 5px solid #2c4755;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition-duration: 0.5s;
    transition-property: background-color, color;
}

main button span {
    font-weight: 600;
}

main button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #2c4755;
}

/* ************************************************************** */
/* ********************   Display Section   ********************* */
/* ************************************************************** */
section.display__section {
    display: none;

    align-self: center;
    margin-bottom: 10px;
    width: 80vw;
    height: 70%;
}

section.display__section div#entry__container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: #2c4755;
}

section.display__section div.row__displayed {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section.display__section div.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Temperature */
section.display__section h3#temp {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.display__section span#temp__value,
section.display__section span#temp__symbol {
    font-size: 2rem;
}

section.display__section span#temp__unit__selection {
    margin-left: 10px;
}

section.display__section span#temp__Fahrenheit,
section.display__section span#temp__Celsius {
    padding: 0 8px;
    cursor: pointer;
}

section.display__section span.active__degree {
    background-color: #2c4755;
    color: #ffffff;

    font-size: 1.5rem;

    transition-duration: 0.5s;
    transition-property: background-color, color;
}

/* ************************************************************** */
/* *************************   Footer   ************************* */
/* ************************************************************** */
footer {
    width: 100%;
    height: 10vh;

    padding: 0 20px;

    background-color: #2c4755;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Personal Contact Info */
footer div#contact__info {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer div#contact__info a {
    color: #ffffff;
    transition: color 0.5s;
}

footer div#contact__info a:hover {
    color: #ff6347;
}

/* Page Footer Quote */
footer div#footer__quote span {
    color: #ff6347;
    font-size: 1.5em;
}
